@use "./base.scss";

:root {
  --bodyFont: "Open Sans", "LXGW WenKai TC", serif;
  --headerFont: "Open Sans", "LXGW WenKai TC", serif;
  --codeFont: "IBM Plex Mono", "LXGW WenKai TC", monospace;
}

body {
  font-size: 18px;
}


